<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Animelist{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <div class="header">
    <h1>Animelist</h1>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Home page</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/series">View all anime series</a></li>
        {% if not session.user_id %}
        <li><a href="/registration">Register</a></li>
        {% endif %}
        {% if session.user_id %}
        <li><a href="/user/{{ session.user_id }}">My profile</a></li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>