{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}

  <h2>User registration</h2>

  {% for message in get_flashed_messages() %}
  <p class="flash">{{ message }}</p>
  {% endfor %}

  <form action="/registration" method="post">
    <p>
      <label for="username">Username (max 16 characters)</label>:<br />
      <input type="text" id="username" name="username" value="{{ filled.username }}" maxlength="16" required />
    </p>
    <p>
      <label for="password1">Password</label>:<br />
      <input type="password" id="password1" name="password1" maxlength="100" />
    </p>
    <p>
      <label for="password2">Repeat password</label>:<br />
      <input type="password" id="password2" name="password2" maxlength="100" />
    </p>
    <input type="submit" value="Register">
  </form>
  
{% endblock %}