<!DOCTYPE html>
<html>

<head>
  <title>User registration</title>
</head>

<body>
  <h2>User registration</h2>
  <form action="/registration" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="16" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Register">
  </form>

  <hr />
  <p>
    <a href="/">Back to home page</a>
  </p>
</body>

</html>