{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}

  <h2>User registration</h2>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/registration" method="post">
    <p>
      Username (max 16 characters): <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="16" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" maxlength="100" />
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" maxlength="100" />
    </p>
    <input type="submit" value="Register">
  </form>
  
{% endblock %}