<!DOCTYPE html>
<html>

<head>
  <title>{{ series.title }}</title>
</head>

<body>
  <h2>{{ series.title }}</h2>
  <p>
    Release year: {{ series.year }} <br />
    <br />
    Episodes:
    {{ series.episodes }} <br />
    <br />
    Description: <br />
    {{ series.description }} <br />
  </p>
  {% if session.user_id == series.user_id %}
  <p>
    <a href="/edit-series/{{ series.id }}">Edit</a>
  </p>
  <form action="/delete-series/{{ series.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Delete" />
  </form>
  {% endif %}
</body>

</html>